.avatar {
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    &.sm {
        max-width: 64px;
        min-width: 64px;
        max-height: 64px;
    }
    &.md {
        max-width: 160px;
        min-width: 160px;
        max-height: 160px;
    }

    &.rounded {
        border-radius: 200px;
    }
}

.avatarImage {
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center center;
}